Button {
    margin:0 10;
    color:#fff;
    font-size:15px;
    font-weight:bold;
    background-color: transparent;
    border-color: transparent;
    border-width: 1;
    &.active {
        color: #FFEB3B;
    }
}
